input {
  display: inline-block;
}

.bg-div {
  margin-top: 70px;
  width: 100%;
  background-color: black;
  position: relative;
  height: 900px;
}

.bg {
  width: 100%;
  opacity: 0.5;
  object-fit: cover;
  object-position: bottom;
  position: fixed;
}
